

{% load static %}

<div class="container container_item">
    <div class="container card-item">
        <div class="card-item__image-container">
            <figure>
                <img id="item_image" alt="item_image" class="card-item__image">
            </figure>
        </div>
        <div class="card-item__info">
            <h2 id="english_name" class="english_title_font_size white_letter">ItemName</h2>
            <p id="english_description" class="english_font_size black_letter">Item information</p>
        </div>
        <div class="card-item__info">
            <h2 id="spanish_name" class="english_title_font_size white_letter">NombreArtículo</h2>
            <p id="spanish_description" class="english_font_size black_letter">Información del artículo</p>
        </div>
    </div>
    <a href="#" id="button_close_modal_item" class="button">
        <p>Close window</p>
        <p>(Cerrar ventana)</p>
    </a>
    
</div>
