{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header__menu">
            {% include "layouts/partials/textheader.html" %}
            {% comment %} {% include "layouts/partials/menu.html" %} {% endcomment %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>

</body>

</html>