<nav>
    <ul class="menu">
        <li class="menu__button-container">
            <a href="{% url "library" %}" class="button">
                <p class="english_font_size">Library</p>
                <p class="spanish_font_size">(Biblioteca)</p>
            </a>
        </li>
        <li class="menu__button-container">
            <a href="{% url "seeker" %}" class="button">
                <p class="english_font_size">Search box</p>
                <p class="spanish_font_size">(Cuadro de búsqueda)</p>
            </a>
        </li>
    </ul>
</nav>