{% extends "layouts/app.html" %}

{% load static %}

{% block title %}
<title>Homepage / Inicio</title>
{% endblock title %}


{% block content %}

<div class="container index">
    <section class="section_index">
        <div class="index__logo-container">
            <figure>
                <img src="{% static "images/logo.png" %}" alt="logo Systematic" class="index__logo">
            </figure>
        </div>
        <div class="index__buttons-container">
            <a href="{% url "library" %}" class="button">
                <p class="english_title_font_size">Go to the library</p>
                <p class="spanish_title_font_size">(Ir a la biblioteca)</p>
            </a>
        </div> 
    </section>
</div>


{% endblock content %}