{% extends "layouts/app.html" %}

{% load static %}

{% block title %}
<title>Homepage / Inicio</title>
{% endblock title %}

{% block content %}
<section class="section_index">
    <div class="container index">
        <div class="index__logo-container">
            <figure>
                <img src="{% static "images/logo.png" %}" alt="logo Systematic" class="index__logo">
            </figure>
        </div>
        <div class="index__buttons-container">
            <a href="{% url "library" %}" class="button">
                <p class="english_title_font_size">Go to the library</p>
                <p class="spanish_title_font_size">(Ir a la biblioteca)</p>
            </a>
            <a href="{% url "seeker" %}" class="button">
                <p class="english_title_font_size">Go to search box</p>
                <p class="spanish_title_font_size">(Ir al cuadro de búsqueda)</p>
            </a>
        </div> 
    </div>
</section>
{% endblock content %}