{% extends "layouts/app.html" %}

{% load static %}

{% block title %}
<title>NameItem / NombreObjeto</title>
{% endblock title %}

{% block content %}
<section class="section_item">
    <div class="container card-item">
        <div class="card-item__image-container">
            <figure>
                <img src="{% static "images/dictionary.png" %}" alt="" class="card-item__image">
            </figure>
        </div>
        <div class="card-item__info">
            <h2 class="english_title_font_size white_letter">ItemName</h2>
            <p class="english_font_size black_letter">Item information</p>
        </div>
        <div class="card-item__info">
            <h2 class="english_title_font_size white_letter">NombreArtículo</h2>
            <p class="english_font_size black_letter">Información del artículo</p>
        </div>
    </div>
    <a href="{% url "library" %}" class="button">
        <p>Return to the library</p>
        <p>(Regresar a la biblioteca)</p>
    </a>
</section>
{% endblock content %}