/* Variables */

:root {
    --white: #d4f0fc;
    --black: #06161d;
    --sky-blue: rgb(94, 228, 235);
    --light-blue: rgb(61, 177, 202);
    --blue: rgb(28, 122, 186);
    --dark-blue: rgb(1, 75, 174);
    --background-page-index: linear-gradient(to left, rgb(1, 75, 174), rgb(79, 206, 213));
    --background-modal: linear-gradient(to right, aquamarine, var(--blue));
    --header-height: 100px;
    --english-title-font-size: 28px;
    --english-font-size: 20px;
    --spanish-title-font-size: 20px;
    --spanish-font-size: 16px;
}

/* Formatear estilos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inder", sans-serif;
}

/* Helpers */
.black_letter {
    color:var(--black)
}

.white_letter {
    color: var(--white)
}
.sky_blue_letter {
    color: var(--sky-blue)
}

.dark_blue_letter {
    color: var(--dark-blue)
}

.english_title_font_size {
    font-size: var(--english-title-font-size);
    font-weight: 900;
}
.english_font_size {
    font-size: var(--english-font-size);
}

.spanish_title_font_size {
    font-size: var(--spanish-title-font-size);
    font-weight: 900;
}

.spanish_font_size {
    font-size: var(--spanish-font-size)
}

/* Header */
header {
    background: var(--background-page);
}

body {
    background: var(--background-page-index);
    height: 100vh;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 12px;
}


.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.header__logo {
    width: auto;
    height: 73px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    margin-left: -68px;
}

.menu__button-container {
    width: auto;
    display: flex;
    justify-content: center;
}

.menu__link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    border: solid var(--white) 2px;
    background-color: var(--sky-blue);
    border-radius: 16px;
}

/* index */

.index__buttons-container {
    display: flex;
}

.index__container_logo_cimi {
    display: flex;
    align-items: start;
    width: 1200px;
}

.index__logo {
    width: 456px;
}

/* library */

.body_library {
    background: rgb(255, 168, 110);
}

.section_library, .section_index, .section_seeker {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    margin-top: 18px;
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image__library {
    width: 360px;
    height: 360px;
}



.library__cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 32px auto;
}


.library__card-image {
    max-width: 100%;
    height: 192px;
    border: 2px solid var(--black);
    border-radius: 8px;
}


.library__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: auto;
    text-decoration: none;
    padding: 24px;
    text-align: center;
    border: 3px solid var(--white);
    border-radius: 8px;
}

.library__card:hover {
    transform: scale(1.1);
}

/* Item */

.container_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item {
    display: flex;
    align-items: center;
    margin: 24px;
    text-align: center;
    border: 3px solid var(--white);
    border-radius: 8px;
    padding: 24px;
    gap: 2rem;
    width: 1000px;
}

.card-item__image-container {
    width: 40%;
}

.card-item__image {
    border: 3px solid var(--black);
    max-height: 360px;
    width: 360px;
    height: auto;
    border-radius: 8px;
}

.card-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border: 3px solid var(--white);
    width: 30%;
    border-radius: 8px;
    padding: 16px;
    height: 360px;
}

.button {
    max-width: 360px;
    width: auto;
    height: auto;
    text-align: center;
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--white);
}

.button:hover {
    transform: scale(1.1);
    background-color: var(--light-blue);
    font-weight: 600;
}

.button:active {
    background-color: var(--sky-blue);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    font-weight: 600;
}


/* seeker */

.seeker__logo {
    width: 360px;
}

.seeker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.seeker__form {
    text-align: center;
}

.seeker__search-language-options, .seeker__search-entry {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 20px;
    align-content: center;
}

.seeker__language-options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

.seeker__english-radio-button, .seeker__spanish-radio-button {
    display: inline-block;
    padding: 8px 16px;
    width: 50%;
    cursor: pointer;
}

.seeker__english-radio-button {
    border: 2px solid var(--black);
    border-radius: 8px;
}



.seeker__spanish-radio-button {
    border: 2px solid var(--white);
    border-radius: 8px;
}

input[type="radio"]:checked + .seeker__english-radio-button, input[type="radio"]:checked + .seeker__spanish-radio-button {
    background-color: var(--blue);
}

.seeker__search-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.search-entry, .search-button {
    border: 2px solid var(--black);
    padding: 4px 12px;
    background-color: var(--sky-blue);
    border-radius: 8px;
    color: var(--dark-blue);
    font-weight: 900;
    width: 80%;
}

.search-button {
    color: var(--black);
    width: 20%;
}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.search-button:active {
    background-color: var(--light-blue);
}

.bi-search {
    font-size: 24px;
}

/*Modals styles*/

.modal {
    display: none; /* Ocultar la ventana emergente por defecto */
    position: fixed; /* Posición fija en la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Tamaño completo de la ventana */
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    z-index: 1; /* Superponer sobre otros elementos */
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--background-modal); /* Color de fondo de la ventana emergente */
    margin: 7% auto; /* Centrar verticalmente y ajustar los márgenes */
    padding: 20px;
    border: 2px solid var(--white);
    border-radius: 8px;
    width: 80%; /* Ancho de la ventana emergente */
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    height: 40px;
    padding: 0 76px;
}

.div-close {
    display: flex;
    justify-content: end;
}

.close {
    display: flex;
    width: 12px;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.4);
    color: #000;
}

.modal__item {
    margin: 1% auto;
    width: 90%;
}